---
layout: default
---

<div class="hero">
	<div class="parallax">
		<div data-rate="0" class="layer-0">
			<div class="dynamic plane"></div>
			<div class="dynamic clouds"></div>
		</div>
		<div data-rate="13" class="layer-1"></div>
		<div data-rate="40" class="layer-2 welcome-wrap">
			<div class="welcome">
				<div class="hello"></div>
				<h1>Oliver Cooper</h1>
				<h2>Auckland, New Zealand</h2>
				<ul class="links">
					<li><a href="#rust">Software Engineer</a></li>
					<li><a href="#employment">UX Designer</a></li>
				</ul>
			</div>
			<div class="gap"></div>
		</div>
		<div data-rate="60" class="layer-3"></div>
		<div data-rate="100" class="front layer-4"></div>
	</div>
</div>

<div class="portfolio skills">
	<a name="skills"></a>
	<h3>Always eager for a challlenge</h3>
	<div class="container">
        <p>I have over 6 years of professional software development and design experience, and 7 years experience preceding that writing personal/open-source projects. I thrive with a challenge, excelling at assessing the nuance in a client’s needs, then delivering fast, elegant solutions to those problems.</p>
		<h1>Skills</h1>

		<ul class="rows">
			{% for skill in site.skills %}
			<li>
				<h2>{{ skill.title }}</h2>
				<div class="content">
					{{ skill.content }}
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>

<div class="portfolio employment">
	<a name="employment"></a>
	<h1>Employment</h1>
	<h3>Versatile and experienced</h3>
	<div class="container">
        <p>I have deep experience in every layer of modern applications, from distributed backend systems and cloud infrastructure, to complex CSS animations on the frontend.</p>
		<ul class="rows">
			{% for project in site.employment %}
				<li>
					<h2>{{ project.title }}</h2>
					<h3>{{ project.type }} <span class="years">{{ project.years }}</span></h3>
					<div class="content">
						<div class="details">
							{{ project.content }}
						</div>
						{% if project.link %}
							<a href="{{ project.link }}" target="_blank">
						{% endif %}
							<div class="preview" style="background-image: url(/assets/images/employment/{{ project.image }})"></div>
						{% if project.link %}
							</a>
						{% endif %}
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>


<div class="portfolio opensource">
	<a name="opensource"></a>
	<h1>Open Source Projects</h1>
	<h3>A love for the ecosystem</h3>
	<div class="container">
        <p>I am very passionate about the open-source community and have led and contributed to multiple projects. For a more comprehensive list of my projects see <a href="https://github.com/oeed/" target="_blank">my GitHub profile, oeed</a>.</p>
		<ul class="rows">
			{% for project in site.opensource %}
				<li>
					<div class="content">
						<div class="details">
							{% if project.link %}
								<a href="{{ project.link }}" target="_blank">	
							{% endif %}
								<h2>{{ project.title }} </h2>
								<h3>{{ project.type }}</h3>
							{% if project.link %}
								</a>
							{% endif %}
							{{ project.content }}
						</div>
						{% if project.link %}
							<a href="{{ project.link }}" target="_blank">
						{% endif %}
							<div class="preview" style="background-image: url(/assets/images/opensource/{{ project.image }})"></div>
						{% if project.link %}
							</a>
						{% endif %}
					</div>
				</li>
			{% endfor %}
		</ul>
		<a href="https://github.com/oeed/" class="more" target="_blank">
			<div>See more on GitHub &gt;</div>
		</a>
	</div>
</div>

<div class="aboutme">
	<a name="aboutme"></a>
	<h1>About Me</h1>
	<div class="container">
		<ul class="rows">
			{% for mefact in site.mefacts %}
				<li>
					<div class="details">
						<h2>{{ mefact.title }}</h2>
						{{ mefact.content }}
					</div>
					<div class="cards">
						{% for image in mefact.images %}
							<img src="/assets/images/aboutme/{{ mefact.folder }}/{{ image }}">
						{% endfor %}
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>