---
layout: default
---

<div class="hero">
	<div class="parallax">
		<div data-rate="0" class="layer-0">
			<div class="dynamic plane"></div>
			<div class="dynamic clouds"></div>
		</div>
		<div data-rate="7" class="layer-1"></div>
		<div data-rate="13" class="layer-2"></div>
		<div data-rate="40" class="layer-3 welcome-wrap">
			<div class="welcome">
				<div class="hello"></div>
				<h1>Oliver Cooper</h1>
				<h2>Auckland, New Zealand</h2>
				<ul class="links">
					<li><a href="#portfolio">Portfolio</a></li>
					<li><a href="#aboutme">About Me</a></li>
					<li><a href="mailto:oliver.cooper@me.com">Contact</a></li>
				</ul>
			</div>
			<div class="gap"></div>
		</div>
		<div data-rate="60" class="layer-4"></div>
		<div data-rate="100" class="front layer-5"></div>
	</div>
</div>

<div class="portfolio">
	<a name="portfolio"></a>
	<h1>Portfolio</h1>
	<h3>A Small Taste of What I've made</h3>
	<div class="container">
		<ul>
			{% for project in site.projects %}
				<li>
					<div class="details">
						{% if project.link %}
							<a href="{{ project.link }}">	
						{% endif %}
							<h2>{{ project.title }} <span class="type">{{ project.type }}</span></h2>
						{% if project.link %}
							</a>
						{% endif %}
						{{ project.content }}
					</div>
					{% if project.link %}
						<a href="{{ project.link }}">
					{% endif %}
						<div class="preview" style="background-image: url(/assets/images/portfolio/{{ project.image }})"></div>
					{% if project.link %}
						</a>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
		<a href="https://github.com/oeed/" class="more">
			<div>See more on GitHub &gt;</div>
		</a>
	</div>
</div>

<div class="aboutme">
	<a name="aboutme"></a>
	<h1>About Me</h1>
	<div class="container">
		<ul>
			{% for mefact in site.mefacts %}
				<li>
					<div class="details">
						<h2>{{ mefact.title }}</h2>
						{{ mefact.content }}
					</div>
					<div class="cards">
						{% for image in mefact.images %}
							<img src="/assets/images/aboutme/{{ mefact.folder }}/{{ image }}">
						{% endfor %}
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>