---
layout: default
---

<div class="hero">
	<div class="parallax">
		<div data-rate="0" class="layer-0">
			<div class="dynamic plane"></div>
			<div class="dynamic clouds"></div>
		</div>
		<div data-rate="13" class="layer-1"></div>
		<div data-rate="40" class="layer-2 welcome-wrap">
			<div class="welcome">
				<div class="hello"></div>
				<h1>Oliver Cooper</h1>
				<h2>Auckland, New Zealand</h2>
				<ul class="links">
					<li><a href="#rust">Rust</a></li>
					<li><a href="#fullstack">Fullstack</a></li>
					<li><a href="#design">Design</a></li>
				</ul>
			</div>
			<div class="gap"></div>
		</div>
		<div data-rate="60" class="layer-3"></div>
		<div data-rate="100" class="front layer-4"></div>
	</div>
</div>

<div class="portfolio rust">
	<a name="rust"></a>
	<h1>Rust Developer</h1>
	<h3>A passion for the language</h3>
	<div class="container">
        <p>I am highly passionate about and proficient in Rust, with a deep love for the language and its ecosystem. I have used Rust professionally in production for over 18 months and am a contributor to multiple widely used crates.</p>
		<ul>
			{% for project in site.rust %}
				<li>
					<div class="details">
						{% if project.link %}
							<a href="{{ project.link }}" target="_blank">	
						{% endif %}
							<h2>{{ project.title }} <span class="type">{{ project.type }}</span></h2>
						{% if project.link %}
							</a>
						{% endif %}
						{{ project.content }}
					</div>
					{% if project.link %}
						<a href="{{ project.link }}" target="_blank">
					{% endif %}
						<div class="preview" style="background-image: url(/assets/images/rust/{{ project.image }})"></div>
					{% if project.link %}
						</a>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
		<a href="https://github.com/oeed/" class="more" target="_blank">
			<div>See more on GitHub &gt;</div>
		</a>
	</div>
</div>

<div class="portfolio fullstack">
	<a name="fullstack"></a>
	<h1>Fullstack Developer</h1>
	<h3>Versatile and experienced</h3>
	<div class="container">
        <p>I have deep experience in every layer of modern applications, from complex CSS animations on the frontend through to distributed backend systems.</p>
		<ul>
			{% for project in site.fullstack %}
				<li>
					<div class="details">
						{% if project.link %}
							<a href="{{ project.link }}" target="_blank">	
						{% endif %}
							<h2>{{ project.title }} <span class="type">{{ project.type }}</span></h2>
						{% if project.link %}
							</a>
						{% endif %}
						{{ project.content }}
					</div>
					{% if project.link %}
						<a href="{{ project.link }}" target="_blank">
					{% endif %}
						<div class="preview" style="background-image: url(/assets/images/fullstack/{{ project.image }})"></div>
					{% if project.link %}
						</a>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
		<a href="https://github.com/oeed/" class="more" target="_blank">
			<div>See more on GitHub &gt;</div>
		</a>
	</div>
</div>


<div class="portfolio design">
	<a name="design"></a>
	<h1>Designer</h1>
	<h3>A love of simplicity and elegance</h3>
	<div class="container">
        <p>I believe design to be utterly critical to a products success and excel at designing simple, pleasing user interfaces.</p>
		<ul>
			{% for project in site.design %}
				<li>
					<div class="details">
						{% if project.link %}
							<a href="{{ project.link }}" target="_blank">	
						{% endif %}
							<h2>{{ project.title }} <span class="type">{{ project.type }}</span></h2>
						{% if project.link %}
							</a>
						{% endif %}
						{{ project.content }}
					</div>
					{% if project.link %}
						<a href="{{ project.link }}" target="_blank">
					{% endif %}
						<div class="preview" style="background-image: url(/assets/images/design/{{ project.image }})"></div>
					{% if project.link %}
						</a>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>
</div>

<div class="aboutme">
	<a name="aboutme"></a>
	<h1>About Me</h1>
	<div class="container">
		<ul>
			{% for mefact in site.mefacts %}
				<li>
					<div class="details">
						<h2>{{ mefact.title }}</h2>
						{{ mefact.content }}
					</div>
					<div class="cards">
						{% for image in mefact.images %}
							<img src="/assets/images/aboutme/{{ mefact.folder }}/{{ image }}">
						{% endfor %}
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>