.portfolio
	position: relative
	overflow: auto
	height: 800px
	background: $ground
	color: white

	h2
		font-size: 40px
		text-transform: uppercase
		font-weight: bold
		font-style: italic
		letter-spacing: 0.06em
		margin-bottom: 15px

		.type
			font-size: 24px
			font-weight: normal
			color: #285da9
			margin-left: 10px
			vertical-align: middle

	li
		display: flex

	.preview
		width: 500px
		height: 330px
		flex: 0 0 auto
		background-size: cover
		background-repeat: no-repeat

		&.thecore
			background-image: url(/assets/images/portfolio/thecore.png)

	.details
		margin-right: 100px
		flex-grow: 1

	p
		font-size: 22px
		font-weight: 300
		max-width: 480px