<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Oliver Cooper - Auckland, New Zealand</title>
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="/assets/js/home.js"></script>
		<!-- <script type="text/javascript" src="/assets/js/jquery.ScrollMagic.min.js"></script> -->
        <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.ico"/>
	</head>
	<body>
		{{ content }}
	</body>
</html>